/* Gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}

body {
    background-color: #202022;
     color: #dfdfe9;
}

/* Nav */
header {
    border-bottom: 1px solid #dfdfe9;
    padding: 1rem 2rem;
    color: #dfdfe9;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#search-input {
    background-color: #3f3f43;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 10px;
    width: 26.5rem;
}

#search-input::placeholder {
    color: #ddd;
}

#export-notes {
    background-color: #202022;
    color: #dfdfe9;
    border: 1px solid #dfdfe9;
    border-radius: 4px;
    padding: 5px 1rem;
    cursor: pointer;
    transition: 0.4s;
}

#export-notes:hover {
    background-color: #dfdfe9;
    color: #3f3f43;
}

/* NOVA NOTA */
#add-note-container {
    display: flex;
    width: 26.5rem;
    margin: 1rem auto 0;
    gap: 0.3rem;
}

#add-note-container input,
#add-note-container button {
    padding: 10px;
    border-radius: 5px;
}

#add-note-container input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #3f3f43;   
    color: #dfdfe9;
}

#add-note-container button {
    cursor: pointer;
    background-color: #3f3f43;
    color: #dfdfe9;
}

/* NOTAS */
#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 2rem;
    gap: 2rem;
}

.note {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #dfdfe9;
    background-color: transparent;
    border-radius: 11px;
    color: #dfdfe9;
    position: relative;
}

.note textarea {
    background-color: transparent;
    resize: none;
    color: #dfdfe9;
    border: none;
    height: 100%;
    outline: none;
}

.note:hover > i {
    opacity: 1;
}

.note .bi-pin {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    background-color: #3f3f43;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.note .bi-x-lg, 
.note .bi-file-earmark-plus {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    padding: 5px;
    transition: 0.3s;
    color: #58585c;
    cursor: pointer;
    opacity: 0;
}

.note .bi-file-earmark-plus {
    top: 40px;
}

.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover {
    color: #dfdfe9;
}

.note.fixed {
    background-color: #259986;
    color: #e1e1eb;
}

.note.fixed .bi-pin {
    background-color: #dfdfe9;
    color: #202022
}